.patternbot-brand-desc * {
  color: var(--color-patternbot-primary);
}

.patternbot-color-swatches {
  position: relative;
}

.patternbot-color-swatches::before,
.patternbot-color-swatches::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  border: 1px solid var(--color-patternbot-primary);
}

.patternbot-color-swatches::after {
  bottom: 1px;
  left: 1px;
  right: 1px;
  top: 1px;

  border-color: var(--color-patternbot-opposite);
}

.patternbot-color-swatches-primary {
  min-height: 16em;
}

.patternbot-color-swatches-secondary {
  min-height: 8em;
}

.patternbot-color-swatches-accent {
  min-height: 3em;
}

.patternbot-color-swatches-fill {
  display: flex;
  flex-direction: column;
}

.patternbot-color-swatches-fill > div {
  flex-grow: 1;
}

.patternbot-color-swatch-labels > li {
  margin-right: calc(28px + 1.2em);
}

.patternbot-color-swatch-labels-hex,
.patternbot-color-swatch-labels-rgba {
  text-transform: lowercase;
}

.patternbot-color-swatch-labels * {
  color: var(--color-patternbot-primary);
}

@media only screen and (min-width: 38em) {

 .patternbot-brand-desc :last-child {
    margin-bottom: 0;
  }

}
