<div class="text-left">
  {% assign show_hr = false %}

  {% if page._PatternbotData.css.theme.fonts.primary %}
    {% assign show_hr = true %}
    {% include patternbot_pattern_brand_typeface.html title="Primary" key="primary" font=page._PatternbotData.css.theme.fonts.primary preposition="the" %}
  {% endif %}

  {% if page._PatternbotData.css.theme.fonts.secondary %}
    {% assign show_hr = true %}
    {% include patternbot_pattern_brand_typeface.html title="Secondary" key="secondary" font=page._PatternbotData.css.theme.fonts.secondary preposition="the" show_hr=show_hr %}
  {% endif %}

  {% for font in page._PatternbotData.css.theme.fonts.accent %}
    {% assign show_hr = true %}
    {% include patternbot_pattern_brand_typeface.html title="Accent" key="accent" font=font desc=page._PatternbotConfig.patternbot.fonts.accent preposition="an" show_hr=show_hr %}
  {% endfor %}
</div>
