<div class="patternbot-font-primary text-left milli">
  <div class="pattern-utilities-scrollable scrollable">
    <table class="patternbot-utilities-table">
      <thead>
        <tr>
          <th scope="col" colspan="6">{% if include.first_heading %}{{include.first_heading}}{% else %}Class{% endif %}</th>
          <th scope="col" colspan="18">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for util in include.classes %}
          <tr>
            <th class="valign-middle" scope="row" colspan="6">
              <ul class="list-group patternbot-utilities-classes">
                {% if util.classes %}
                  {% for class in util.classes %}
                    <li><code class="ib valign-middle">{{class | escape}}</code></li>
                  {% endfor %}
                {% else %}
                  <li><code class="ib valign-middle">{% if util.name %}{{util.name | escape}}{% else %}{{util.class | escape}}{% endif %}</code></li>
                {% endif %}
              </ul>
            </th>
            <td class="valign-middle" scope="col" colspan="18"><span class="ib valign-middle">{{util.description | markdownify}}</span></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
