<ul class="patternbot-code-details patternbot-list-group list-group-inline micro push-1-2 pad-t">
  <li><code>font-weight: {{include.weight.weight}};</code></li>
  <li><code>font-style: {{include.style}};</code></li>
</ul>
<div class="grid grid-middle" style="font-weight:{{include.weight.weight}}; font-style:{{include.style}};">
  <div class="patternbot-type-sample-large unit [ xs-1 m-1-5 ]">
    <p class="yotta push-0" style="font-family:var({{include.font_var}});">Aa Gg<br>Ss Zz</p>
  </div>
  <div class="unit [ xs-1 m-4-5 ]">
    <p class="giga push-0" style="font-family:var({{include.font_var}});">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
    <p class="giga push-0" style="font-family:var({{include.font_var}});">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
    <p class="tera push-0" style="font-family:var({{include.font_var}});">1 2 3 4 5 6 7 8 9 0</p>
    <p class="exa push-0" style="font-family:var({{include.font_var}});">&amp; % $ # @ ! * ? , . ; — – - ( ) “ ” ‘ ’ « »</p>
  </div>
</div>
