<div class="text-length patternbot-max-length-short">
  <div class="embed embed-16by9">
    <img class="embed-item" src="{{site.baseurl}}{{page._PatternbotConfig.patternbot.placeholders.wide}}" alt="">
  </div>
  <div class="grid push-2">
    <div class="unit xs-1-3">
      <div class="embed embed-1by1">
        <img class="embed-item" src="{{site.baseurl}}{{page._PatternbotConfig.patternbot.placeholders.square}}" alt="">
      </div>
    </div>
    <div class="unit xs-1-3">
      <div class="embed embed-1by1">
        <img class="embed-item" src="{{site.baseurl}}{{page._PatternbotConfig.patternbot.placeholders.square}}" alt="">
      </div>
    </div>
    <div class="unit xs-1-3">
      <div class="embed embed-1by1">
        <img class="embed-item" src="{{site.baseurl}}{{page._PatternbotConfig.patternbot.placeholders.square}}" alt="">
      </div>
    </div>
  </div>
</div>

<h2 class="patternbot-font-primary patternbot-color-body giga normal">Image utility classes</h2>
{% include patternbot_pattern_class_list.html classes=page._PatternbotData.css.modulifier.utility_classes.images %}
<hr class="patternbot-hr patternbot-hr-always-visible">
<h2 class="patternbot-font-primary patternbot-color-body giga normal">Embed container sizes</h2>
{% include patternbot_pattern_class_list.html classes=page._PatternbotData.css.modulifier.utility_classes.embed_sizes %}
