{% if page._PatternbotData.css.modulifier.settings contains 'list-group' %}
  <h2 class="patternbot-font-primary patternbot-color-body giga normal">List utility classes</h2>
  {% include patternbot_pattern_class_list.html classes=page._PatternbotData.css.modulifier.utility_classes.lists %}
{% endif %}

{% if page._PatternbotData.css.modulifier.settings contains 'buttons' %}
  <h2 class="patternbot-font-primary patternbot-color-body giga normal">Basic button classes</h2>
  {% include patternbot_pattern_class_list.html classes=page._PatternbotData.css.modulifier.utility_classes.buttons %}
{% endif %}

{% if page._PatternbotData.css.modulifier.settings contains 'hidden' %}
  <h2 class="patternbot-font-primary patternbot-color-body giga normal">Utility classes for hiding</h2>
  {% include patternbot_pattern_class_list.html classes=page._PatternbotData.css.modulifier.utility_classes.hidden %}
{% endif %}

{% if page._PatternbotData.css.modulifier.settings contains 'positioning' %}
  <h2 class="patternbot-font-primary patternbot-color-body giga normal">Positioning utility classes</h2>
  {% include patternbot_pattern_class_list.html classes=page._PatternbotData.css.modulifier.utility_classes.positioning %}
{% endif %}

{% if page._PatternbotData.css.modulifier.settings contains 'forms' %}
  <h2 class="patternbot-font-primary patternbot-color-body giga normal">Form utility classes</h2>
  {% include patternbot_pattern_class_list.html classes=page._PatternbotData.css.modulifier.utility_classes.forms %}
{% endif %}

{% if page._PatternbotData.css.modulifier.settings contains 'print' %}
  <h2 class="patternbot-font-primary patternbot-color-body giga normal">Print utility classes</h2>
  {% include patternbot_pattern_class_list.html classes=page._PatternbotData.css.modulifier.utility_classes.print %}
{% endif %}
