.patternbot-utilities-table {
  min-width: 50em;
}

.patternbot-utilities-table th,
.patternbot-utilities-table td {
  border-color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .2);
}

.patternbot-utilities-table p {
  margin: 0;
}

.patternbot-utilities-table code,
.patternbot-utilities-table pre {
  display: inline-block;
  vertical-align: middle;
}

.patternbot-utilities-classes {
  margin: 0;
  padding: 0;
}

.patternbot-utilities-classes > li:not(:last-child) {
  margin-bottom: .2em;
}

.patternbot-utilities-classes > li::before {
  content: none;
  display: none;
}

@media only screen and (min-width: 65em) {

  .pattern-utilities-scrollable {
    overflow: hidden
  }

}
