:root {
  --color-patternbot-primary: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .9);
  --color-patternbot-opposite: rgba(var(--color-patternbot-interface-opposite), var(--color-patternbot-interface-opposite), var(--color-patternbot-interface-opposite), .9);

  --font-patternbot-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-patternbot-code: "Source Code Pro", monospace;
}

html {
  font-family: var(--font-patternbot-primary);
}

.patternbot-no-wrap {
  white-space: nowrap;
}

.patternbot-list-group {
  background-color: transparent;
  text-align: left;
}

.patternbot-list-group > li::before {
  content: "";
  display: none;
}

.patternbot-font-primary {
  font-family: var(--font-patternbot-primary);
}

.patternbot-color-body {
  color: var(--color-patternbot-primary);
}

.custom-bg-colors-used .patternbot-color-user-or-body {
  color: var(--color-patternbot-primary) !important;
}

.patternbot-max-length {
  margin-left: 0;
  margin-right: 0;
}

code,
pre {
  display: block;
  margin: 0;
  overflow-x: hidden;

  color: var(--color-patternbot-primary);
  font-family: var(--font-patternbot-code);
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
}

code {
  padding: 0 .4em .15em;

  background-color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .05);
  border: 1px solid transparent;
  border-color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .05);
  border-radius: 4px;
}

.patternbot-hr {
  border-width: 1px;
  border-color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .1);
}

.patternbot-hr:last-child,
.patternbot-hr:last-of-type:not(:first-child) {
  display: none;
}

.patternbot-code-invisible {
  background-color: transparent;
  border-color: transparent;
}

.patternbot-pad-box {
  background-color: var(--color-primary, rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .1));
}

.patternbot-pad-box-inner {
  overflow: hidden;

  background-color: var(--color-patternbot-background);
}

.patternbot-spacing-display {

}

.patternbot-spacing-display h2 {
  color: var(--color-patternbot-primary);
  line-height: 1.9;
  font-family: var(--font-patternbot-primary);
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
}

.patternbot-mq-display-wrap {
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.patternbot-mq-display-wrap,
.patternbot-mq-display-wrap * {
  color: var(--color-patternbot-primary);
  line-height: 2;
  font-family: var(--font-patternbot-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

.patternbot-mq-display {
  background-color: transparent;
  overflow: hidden;
}

.patternbot-mq-display > li {
  padding: 0;
}

.patternbot-mq-display > li:last-child {
  padding-bottom: 6rem;
}

.patternbot-mq-inner {
  min-height: 2rem;

  background-color: var(--color-primary, rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .1));
  border-top: 2px solid var(--color-patternbot-background);
}

.patternbot-mq-list {
  min-width: 24em;
  padding-top: 2.2rem;

  border-left: 2px solid var(--color-primary, rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .1));
}

.patternbot-mq-list > dt,
.patternbot-mq-list > dd {
  padding: 0;

  font-weight: normal;
  font-style: normal;
  font-size: inherit;
}

.patternbot-mq-list > dt {
  width: 7em;
}

.patternbot-code-details {
  margin: 0 0 .75em;
  padding: 1.5em 0 0 0;

  border-bottom: 1px solid rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .05);

  color: var(--color-patternbot-primary);
  font-size: 14px;
  line-height: 2;
  text-align: left;
}

.patternbot-code-details * {
  color: var(--color-patternbot-primary);
}

.patternbot-code-details-under {
  padding-top: 0;

  border: 0;
}

.patternbot-code-details-center {
  text-align: center;
}

.patternbot-tool-btn {
  display: flex;
  left: 100%;
  min-height: 1.4em;
  min-width: 1.2em;
  padding: 1px 2px 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  opacity: .4;
  stroke: var(--color-patternbot-primary);

  color: var(--color-patternbot-primary);
}

.patternbot-tool-btn * {
  stroke: var(--color-patternbot-primary);
  color: var(--color-patternbot-primary);
}

.patternbot-tool-btn:focus,
.patternbot-tool-btn:hover {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  opacity: 1;
  color: var(--color-patternbot-primary);
}

.patternbot-tool-btn:focus,
.patternbot-tool-btn:active,
.patternbot-tool-btn[aria-pressed="true"] {
  border-color: var(--color-patternbot-primary);
}
