.patternbot-grid-display {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  list-style-type: none;
}

.patternbot-grid-display > li {
  border: 2px solid var(--color-patternbot-background);
}

.patternbot-grid-display-inner {
  border: 2px solid var(--color-secondary, rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .1));
}

.patternbot-grid-wrap {
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.patternbot-grid-display + hr {
  margin-top: 1.3rem;
}
