<!DOCTYPE html>
<html lang="en-ca">
<head>
<meta charset="utf-8">
<title>{{page.title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
{%- if page._PatternbotData.css.main -%}
<link href="{{site.baseurl}}/{{page._PatternbotConfig.patternbot.css.source}}/{{page._PatternbotConfig.patternbot.css.main}}?v={{site.time | date:'%s'}}" rel="stylesheet">
{% endif %}
{%- if page._PatternbotConfig.patternbot.font_url -%}
<link href="{{page._PatternbotConfig.patternbot.font_url}}" rel="stylesheet">
{% endif %}
{%- if page._subpattern_data.background -%}
<style>
  html {
    background-color: {{page._subpattern_data.background | as_hex}};
  }
</style>
{% endif %}
</head>
<body{% if page._subpattern_data.padding %} style="padding: {{page._subpattern_data.padding}};"{% endif %}>

<div id="patternbot-pattern-include"{% if page._subpattern_data.width %} style="max-width: {{page._subpattern_data.width}}; margin: 0 auto;"{% endif %}>
<!--
  YOUR CODE STARTS HERE
  #####################
-->

{{content}}

<!--
  #####################
  END OF YOUR CODE
-->
</div>

<script src="{{site.baseurl}}/assets/_patternbot/vendor/iframe-resizer-content-window.min.js?v={{page._PatternbotConfig.patternbot.version}}"></script>

{%- if page._PatternbotData.js.main %}
<script src="{{site.baseurl}}/{{page._PatternbotConfig.patternbot.js.source}}/{{page._PatternbotConfig.patternbot.js.main}}?v={{site.time | date:'%s'}}"></script>
{%- endif %}

</body>
</html>
