<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Modules</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    html { color: rgb(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface)); }
  </style>
  <link href="../../common/modules.css" rel="stylesheet">
  <link href="gridifier.min.css" rel="stylesheet">
  <link href="typografier.min.css" rel="stylesheet">
  {{#if commonFiles.commonParsable.theme}}
    <link href="../../common/theme.css" rel="stylesheet">
  {{/if}}
  <link href="common.min.css" rel="stylesheet">
  <link href="modules.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet">
  <style>
    :root {
      {{#if commonInfo.theme.fonts.primary}}
        --font-patternbot-primary: {{{commonInfo.theme.fonts.primary.raw}}}, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      {{/if}}
    }

    {{#if commonInfo.theme.fonts.primary}}
      html {
        font-family: {{{commonInfo.theme.fonts.primary.raw}}}, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      }
    {{/if}}
  </style>
  {{#if commonInfo.readme.attributes.fontUrl}}
    <link href="{{{commonInfo.readme.attributes.fontUrl}}}" rel="stylesheet">
  {{/if}}
</head>
<body>

  {{{pattern}}}

</body>
</html>
